@import "../../../global.scss";

.discoverWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(crowd.png);
  image-resolution: initial;
  background-position: center;

  @include mobile {
    flex-direction: column;
    align-items: center;
    background-position: center;
    height: 100vh;
    width: 100%;
  }

  .discoverBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border: 5px solid yellow;
    overflow: hidden;
    background-color: lightgray;
    border-radius: round($number: 12px);
    opacity: 0.9;
    margin-top: 100px;

    @include mobile {
      align-content: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;

      .ityped-cursor {
        animation: blink 1.23s infinite;
        color: yellow;

        @keyframes blink {
          50% {
            opacity: 1.23;
          }
          100% {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 75vh;
    width: 75%;
    margin-top: 100px;
    background-color: lightgray;
    opacity: 0.9;
    border-radius: round($number: 12px);

    @include mobile {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      width: 80%;
      margin-bottom: 20px;
      margin-top: 0;
    }

    .top {
      height: 50vh;
      width: 65%;
      border-radius: round($number: 10px);
      opacity: 3;
      overflow: hidden;

      @include mobile {
        height: 40vh;
        width: 90%;
        display: flex;
        align-content: center;
        justify-content: center;
      }

      h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-family: "Roboto";
        font-weight: 600;
        margin-top: 10px;
        overflow: hidden;

        @include mobile{
          font-size: 35px ;
        }
      }

      .searchTop {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        height: 30vh;
        width: 100%;
        overflow: hidden;

        @include mobile{
          display: flex;
          align-content: center;
          justify-content: center;
          height: 30vh;
          font-size: 10px;

        }

        h3 {
          display: flex;
          align-content: center;
          justify-content: center;
          overflow: hidden;

          @include mobile{
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            font-size: 25px;
            margin-bottom: 30;
            margin-top: 0;
          }
        }

        .selectSection {
          display: flex;
          align-content: center;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;

          @include mobile{

          }
        }

        .roleLabel {
          display: flex;
          align-content: center;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;

          @include mobile{
            
          }
        }

        .cityLabel {
          display: flex;
          align-content: center;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;
          margin-top: 5px;

          @include mobile{
            
          }
        }

        .roleDrop {
          display: flex;
          align-content: center;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;

          @include mobile{
            
          }
        }

        .locationDrop {
          overflow: hidden;

          @include mobile{
            
          }
        }

        .searchButton{
          display: flex;
          align-content: center;
          justify-content: center;
          flex-direction: column;
          overflow: hidden;
          margin-top: 15px;
          margin-bottom: 5px;
          width: 4%;
          height: 30px;
          background-color: yellow;
          opacity: .89;
          margin-left: 450px;

          @include mobile{
            display: flex;
            align-content: center;
            justify-content: center;
            margin-left: 110px;
            height: 25px;
            width: 33px;
            margin-top: 20px;
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 50vh;
      width: 100%;
      overflow: hidden;
     

      @include mobile {
        align-content: center;
        justify-content: center;
        flex-direction: column;
        height: 65vh;
        width: 100%;
      }

      .results {
        height: 100vh;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;

        @include mobile {
          display: flex;
          align-content: center;
          justify-content: center;
          flex-direction: column;
          height: 100vh;
          width: 100%;
          margin-bottom: 10px;
        }

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 35px;
          font-family: "Roboto";
          font-weight: 600;
          width: 100%;
          margin-top: 10px;


          @include mobile {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            height: 30vh;
            width: 100%;
            font-size: 25px;
            overflow: hidden;
            margin-bottom: 0;
            font-family: "Roboto";
            font-weight: bold;
          }
        }

        .soundEngineers {
          display: flex;
          align-items: center;
          justify-content: center;          
          flex-direction: column;
          height: 20vh;
          overflow: hidden;
          width: 88%;
          margin-top: 20px;
          background-color: yellow;
          border-radius: round($number: 10px);
          opacity: 1;
          margin-left: 80px;

          @include mobile {
            display: flex;
            align-content: center;
            justify-content: space-between;
            flex-direction: column;
            height: 100vh;
            width: 93%;
            margin-bottom: 0;
            padding: 10px 0px;
            margin-left: 10px;
          }

          .noResults{
            display: flex;
            align-content: center;
            justify-content: center;
            font-size: 35px;

          }

          .uls {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            width: 100%;
            height: 100vh;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
           

            @include mobile {
              display: flex;
              align-content: center;
              justify-content: space-between;
              flex-direction: column;
              width: 100%;
              margin-bottom: 0;
              margin-top: 0;
              font-size: 10px;
              -webkit-column-count: 3;
              -moz-column-count: 3;
              column-count: 3;
              padding: 5px 0px;
              margin-left: 0px;
            }


            .eng1 {
              align-content: space-between;
              justify-content: space-between;
              -webkit-column-count: 3;
              -moz-column-count: 3;
              column-count: 3;
              height: 8vh;
              margin-top: 15px;
              margin-left: 90px;
              width: 90%;
              font-family: "Roboto";
              font-size: 22px;
              font-weight: 400;

              @include mobile {
                display: flex;
                align-content: center;
                justify-content: space-between;
                width: 100%;
                height: 5vh;
                font-size: 10px;
                margin: 0;
                margin-top: 20px;
                margin-right: 20px;
                padding-left: 5px;
                padding-right: 6px;
                
              }

            }
          }
        }
      }
    }
  }
}
