@import "../../../global.scss";

.aboutWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-image: url(./crowd.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    image-resolution: initial;
    background-position: center;
    overflow: hidden;

    @include mobile{


    }

    .about{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 85vh;   
        width: 90%;
        background-color: lightgray;
        margin-top: 75px;
        opacity: .9;
        border-radius: round($number: 30px);
    }
}
