@import "../../../global.scss";

.aboutWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-image: url(./crowd.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  image-resolution: initial;
  background-position: center;
  overflow: hidden;

  @include mobile {
  }

  .aboutContent {
      display:flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
    .imgContainer {
      display: flex;
      align-content: center;
      justify-content: center;
      height: 20vh;
      width: 350px;
      margin-top: 120px;

      @include mobile {
      }

      }
    }

    .about {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 40vh;
      width: 60%;
      padding: 10px 20px;
      background-color: lightgray;
      opacity: 0.9;
      border-radius: round($number: 30px);
      margin-bottom: 60px;
      text-align: center;
  
      @include mobile{
        display: flex;
        align-content: center;
        justify-content: center;
        height: 100vh;
        width: 92%;
        padding-top: 0px;
        margin-bottom: 15px;
      }
  
    }
    .text{
      display: flex;
      align-content: center;
      justify-content: center;
      height: 100vh;
      margin-top: 20px;
      font-family: "Roboto";
      font-size: 22px;

      @include mobile{
        font-size: 15px
      }
    }
    
    .cloutlogo {
      height: 30vh;
      width: 14%;
      border-radius: round($number: 49%);
      margin-top: 30px;
      opacity: 0.8;
  
      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25vh;
        width: 45%;
        border-radius: round($number: 49%);
        margin-top: 80px;
      }
  }
}
