@import "../../global.scss";
.topbar {
  width: 100%;
  height: 70px;
  background-color: black;
  position: fixed;
  color: yellow;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  overflow: hidden;
  opacity: 3;

  @include mobile {
   opacity:5;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 45px;
        font-weight: 600;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }
    }

    .itemContainer {
      display: flex;
      align-items: center;
      margin-left: 30px;

      @include mobile {
        display: none;
      }


      .icon {
        font-size: 18px;
        margin-right: 5px;
      }

      span {
        font-size: 15px;
        font-weight: 500;
      }
    }

    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: yellow;
          transform-origin: left;
          transition: all 0.5s ease;
        }
      }
    }
  }

  &.active {
    background-color: yellow;
    color: black;
    opacity: .6;

    

    .hamburger {
      span {
        &:first-child {
          background-color: black;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: black;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
