@import "../../global.scss";

.signupWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-image: url(./crowd.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  image-resolution: initial;
  background-position: center;

  @include mobile {
    flex-direction: column;
    align-items: center;
    background-position: center;
  }

  .formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid yellow;
    border-radius: round($number: 50%);
    margin-bottom: 60px;
    height: 61vh;
    width: 61vh;
    overflow: hidden;

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56vh;
      width: 56vh;
      margin-top: 50px;
      overflow: hidden;
    }

    h1 {
      font-family: "Roboto";
      font-weight: bolder;
      display: flex;
      font-size: 35px;
      margin-bottom: 5px;

      @include mobile {
        font-size: 30px;
        margin-bottom: -5px;
      }
    }

    form {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 5px solid black;
      height: 60vh;
      width: 61vh;
      background-color: lightgray;
      border-radius: round($number: 50%);
      opacity: 0.8;
      overflow: hidden;

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55vh;
        width: 55vh;
        background-position: center;
      }

      .inputName {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 330px;
        border-radius: round($number: 5px);

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 18px;
          width: 35vh;
          background-position: center;
        }
      }

      .inputUserName {
        margin-bottom: 10px;
        width: 380px;
        border-radius: round($number: 5px);

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 18px;
          width: 41vh;
          background-position: center;
        }
      }

      .inputPassword {
        margin-bottom: 10px;
        width: 410px;
        border-radius: round($number: 5px);

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 18px;
          width: 42vh;
          background-position: center;
        }
      }

      .inputLocation {
        margin-bottom: 10px;
        width: 400px;
        border-radius: round($number: 5px);

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          width: 40vh;
          background-position: center;
        }
      }

      .labelFor {
        margin-bottom: -5px;

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20px;
          width: 40vh;
          overflow: hidden;
          font-size: 15px;
        }
      }

      .dropDown {
        width: 350px;
        border-radius: round($number: 5px);

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 15px;
          width: 35vh;
          font-size: 12px;
          margin-top: 10px;
        }
      }

      .signupButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        opacity: 0.8;
        height: 66px;
        width: 180px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: bolder;
        outline: none;

        &:hover {
          opacity: 1.3;
          background-color: yellow;
        }

        @include mobile {
          height: 30px;
          width: 90px;
          font-size: 22px;
          margin-top: 1px;
        }
      }

      .inkText {
        margin-bottom: 10px;
        color: crimson;
      }
    }

    .linkText {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-left: 20px;
      padding-top: 5px;
      display: flex;

      @include mobile {
        margin-bottom: -15px;
      }
    }
  }
}
