@import "../../../global.scss";

@import "../../../global.scss";

.contactWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-image: url(./crowd.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  image-resolution: initial;
  background-position: center;
  overflow: hidden;

  @include mobile {
    flex-direction: column;
    align-items: center;
    background-position: center;
  }

  .contactUs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;

    .cloutlogo {
      height: 30vh;
      width: 14%;
      border-radius: round($number: 49%);
      margin-top: 30px;
      opacity: 0.8;
  
      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25vh;
        width: 45%;
        border-radius: round($number: 49%);
        margin-top: 80px;
      }
    }
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    width: 70%;
    background-color: lightgray;
    opacity: 0.9;
    border-radius: round($number: 30px);

    @include mobile{
      display: flex;
      align-content: center;
      justify-content: center;
      height: 50vh;
      width: 90%;
      margin-bottom: 20px;
    }

    h3{
      font-family: "Roboto";
      font-size: 35px;
      padding-left: 15px;
      display: flex;
      align-content: center;
      justify-content: center;
      height: 10vh;
      width: 80%;

      @include mobile{
        height: 15vh;
        font-size: 15px;
        text-align: center;
      }
    }

    .socialLogos{
      display: flex;
      align-content: space-between;
      justify-content: space-between;

      .mail{
        margin-right: 150px;

        @include mobile{
          display: none;
        }
      }

      .hub{
        margin-right: 150px;
        
        @include mobile{
          display: none;
        }
      }
    

      @include mobile{
        display: flex;
        align-content: center;
        justify-content: center;

      }
    }


    .links{
      display: flex;
      align-content: center;
      justify-content: center;
      width: 900px;
      height: 10vh;
    
      @include mobile{
        width: 100%;
        font-size: 10px;
      }

      a{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;

        @include mobile{
          width: 100%;
          font-size: 10px;
        }

      }
      
     h4{
       margin-top: 20px;
       margin-left: 25px;
       text-align: center;

       @include mobile{
        font-size: 20px;
        margin-right: 20px;
        width: 100%;
       }
     }
     
    }

  }
}
