@import "../../../global.scss";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(crowd.png);
  image-resolution: initial;

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  @include mobile {
    flex-direction: column;
    align-items: center;
    background-position:center;
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 65vh;
    background-color: lightgray;
    opacity: 0.7;
    margin-bottom: 120px;
    overflow: hidden;
    border-radius: round($number: 50%);

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50vh;
      width: 50vh;
      margin-top: 50px;
    }

  

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      height: 100vh;
      width: 100%;
      overflow: hidden;

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .cloutlogo{
        height: 62vh;
        width: 100%;
        border-radius: round($number: 50%);

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 46vh;
        width: 98%;
        }
      }
    
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
    margin: 0;
    opacity: .9;
    margin-top: -50px;
    background-color: none;
    font-size: 15px;
    font-weight: bolder;
    font-family: "Roboto";

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .signup{
    height: 66px;
    width: 180px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Roboto";
    &:focus{
      outline: none;
    }

    

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    &:hover{
        opacity: 1.3;
        background-color: yellow;
    }

  }
  .learnMore{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: 97px;
    opacity: .9;
    height: 66px;
    width: 180px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Roboto";

    &:focus{
      outline: none;
    }


    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    &:hover{
        opacity: 1.3;
        background-color: yellow;
    }
   
    
}
}
