@import "../../global.scss";

.loginWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-image: url(./crowd.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  image-resolution: initial;
  background-position: center;


  @include mobile {
    flex-direction: column;
    align-items: center;
    background-position:center;
  }


  .formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid yellow;
    border-radius: round($number: 50%);
    margin-bottom: 60px;
    height: 61vh;
    width: 61vh;
    overflow: hidden;

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56vh;
      width: 56vh;
      margin-top: 50px;
      overflow: hidden;
    }
    



    form{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: lightgray;
      border: 5px solid black;
      padding: 5px 5px;
      height: 60vh;
      width: 61vh;
      opacity: 0.8;
      border-radius: round($number: 50%);

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56vh;
        width: 56vh;
        background-position: center;
      }
  

      
    h1 {
      font-family: "Roboto";
      font-weight: bolder;
      display: flex;
      padding-bottom: 20px;

      @include mobile{
        font-size: 30px;
        margin-bottom: -5px;
        
      }
    }


      .inputEmail{
        margin-bottom: 20px;
        width: 300px;
        border-radius: round($number: 5px);

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 5vh;
          width: 38vh;
          background-position: center;
         
        }
      }

      .inputPassword {
        margin-bottom: 20px;
        width: 300px;
        border-radius: round($number: 5px);

      
        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 5vh;
          width: 38vh;
          background-position: center;
         
        }
      }

      .signInButton{

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        opacity: 0.8;
        height: 46px;
        width: 130px;
        border-radius: 15px;
        font-size: 25px;
        font-weight: bolder;
        outline: none;

        &:hover {
          opacity: 1.3;
          background-color: yellow;
        }


        @include mobile {
          height: 33px;
          width: 93px;
        }
      }

      .linkText {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 15px;
      }
    }
  }
}